<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1385.vb_58b_86ea_349d">
  <actions/>
  <description>Pipeline para construir y desplegar una aplicación .NET en OpenShift utilizando un Jenkinsfile.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.SCMTrigger>
          <spec>H/5 * * * *</spec> <!-- Cada 5 minutos, o ajusta según necesites -->
          <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>OPENSHIFT_PROJECT</name>
          <defaultValue>${{ parameters.projectName }}-dev</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>APP_NAME</name>
          <defaultValue>${{ parameters.projectName }}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKERFILE_PATH</name>
          <defaultValue>app/Dockerfile</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOTNET_PROJECT_PATH</name>
          <defaultValue>app/app.csproj</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@3894.v02b_74ac9004d">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@5.2.1">
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/main</name> <!-- La rama principal de tu repositorio -->
        </hudson.plugins.git.BranchSpec>
      </branches>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/${{ parameters.orgName }}/${{ parameters.repoName }}.git<url>
          <!-- Si el repositorio es privado, necesitarás añadir credenciales aquí.
               Por ejemplo: <credentialsId>your-jenkins-git-credentials-id</credentialsId> -->
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <browser class="hudson.plugins.git.browser.GithubWeb">
        <url>https://github.com/${{ parameters.orgName }}/${{ parameters.repoName }}.git</url>
      </browser>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="empty-list"/>
      <extensions/>
    </scm>
    <scriptPath>Jenkinsfile</scriptPath> <!-- La ruta a tu Jenkinsfile dentro del repositorio -->
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
